body {
  font-family: "メイリオ", sans-serif;
  padding: 10px;
  background: #f5f5f5;
}

header {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

/* LED表示 */
#callDisplay {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
  color: #ff5252;
  font-family: 'Courier New', monospace;
}

#callNumber {
  font-size: 3.5em;
}

#callNumber-admin {
  font-size: 3.5em;
}

/* 混雑ゲージ */
#crowdBox {
  background: #ddd;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  margin: 10px 0;
  position: relative;
}

#crowdBar {
  height: 100%;
  background: green;
  width: 0%;
  border-radius: 10px;
  transition: 0.8s;
}

#crowdLabel {
  text-align: center;
  margin-top: 5px;
}

/* QR */
#qrCanvas {
  width: 180px;
  margin: auto;
}
